.code-block {
    position: relative;
    margin: 1em 0;
  }
  
  .copy-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .copy-button:hover {
    background-color: #65de6b;
    color: black;
  }
  
  .copy-button:focus {
    outline: none;
  }
  
  .copy-button:active {
    background-color: #3e8e41;
  }
  
  pre {
    margin: 0;
    padding: 1em;
    overflow: auto;
  }
  
  pre code {
    display: block;
    border-radius: 10px;
  }